# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Final/Template64.pdb
Template.vcxproj
Template.sln
template.ico
resource.h
.vs/Template/v15/Browse.VC.opendb
.vs/Template/v15/.suo
.vs/Template/v15/Browse.VC.db
.vs/Template/v15/ipch/AutoPCH/6bf051ed788acc4f/CORE.ipch
.vs/Template/v15/ipch/AutoPCH/86ca816ff1b83f5c/TEMPLATE.ipch
.vs/Template/v15/ipch/AutoPCH/fedb3ac72f4a6f95/TEMPLATE.ipch
Final/media/wood.png
Final/media/redbrick.png
Final/media/purplestone.png
Final/media/pillar.png
Final/media/mossy.png
Final/media/greystone.png
Final/media/greenlight.png
Final/media/eagle.png
Final/media/bluestone.png
Final/media/colorstone.png
Final/media/barrel.png
Debug64/Template.tlog/link.write.1.tlog
Debug64/Template.tlog/Template.lastbuildstate
Debug64/Template.tlog/link.read.1.tlog
Debug64/Template.tlog/link.command.1.tlog
Debug64/Template.tlog/CL.write.1.tlog
Debug64/Template.tlog/CL.read.1.tlog
Debug64/Template.tlog/CL.command.1.tlog
Debug64/Template.log
Core.cpp
Core.cpp
Core.cpp
Core.cpp
Final/wolfyengine.rar
Debug64/Template64.Build.CppClean.log
Core.cpp
